<html>
  <%- partial('_partial/head')%>
  <body>
    <div class="container">
      <!-- Blog Header: title and subtitle -->
      <%- partial('_partial/header') %>
      <aside class="position-fixed sticky-top">
        <%- partial('_partial/menu')%>
        <%- partial('_partial/sidebar') %>
      </aside>
      <div class="row">
        <!-- Main Content -->
        <div class="col-12 col-sm-8 mx-auto">
          <%- body %>
        </div>
      </div>
    </div>
    <%- partial('_partial/footer')%>
    <%- partial('_partial/after-footer') %>
  </body>
</html>
